* {
    box-sizing: border-box;
    text-transform:capitalize;
    text-align: center;
}

body {
    width: 960px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(img/background_1.jpg) ;
}
header {
    display: grid;
    align-items: center;
    margin: 10px;
    color:#03506f ;
    font-size: large;
}
.container {
    display: grid;
    grid-template-rows: 100px minmax(calc(100vh - 170px) , 1fr, 1fr) 50px;
    gap: 10px;
    text-align: center;
    clear: both;

}
h2{
    margin: 10px;
    color:#03506f ;
}
.image-section {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; */
    clear: both;
}
img {
height: 200px;
width: 250px;
border-radius: 20px;
border:inset;
border-color:#ffdcdc;
margin: 20px;
}
button{
    height: 40px;
    width: 200px;
    margin: 20px;
    background-color:#c6fced ;
    border: inset;
    border-color:#d3e0ea;
    color:#03506f;
    position: absolute;
    top: 300px;
    left: 420px;
}
footer {
    display: flex;
    align-items: center;
    text-align: center;
}
  
footer p {
    width: 100%;
}
#data{
    clear: both;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #03506f;
    margin-top: 100px;
    width: 400px;
}
#data ul li{
    margin-bottom: 10px;

}

footer{
    font-size:20pt;
    padding: 20px;
    margin-top: 20px;
    font-family:'Noto Sans JP', sans-serif;
    color:#03506f;
}